In [57]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sympy as sp

In [68]:
data = np.array([1, "TGOP 這群人", 281.0524,60422.6121,178,"2008/6/7","娛樂", 1,
                 2, "阿滴英文", 199.1362, 14764.5105, 356, "2015/1/11", "教育", 3,
                 3, "蔡阿嘎", 194.5649, 42516.4224, 551, "2006/6/3", "娛樂", 2,
                 4, "阿神", 1174.1752, 66596.3634, 3539, "2009/5/11", "遊戲", 4,
                 5, "眾量級 CROWD", 143.3359, 36287.6658, 341,"2016/9/18","搞笑", 8,
                 6, "聖結石Saint", 141.6763, 40423.8707, 458, "2013/6/10", "搞笑", 5,
                 7, "小玉", 135.5128, 35114.7569,243,"2014/4/5","人物", 7,
                 8, "放火 Louis", 135.3756, 17583.0297,204,"2012/9/1","搞笑",6,
                 9, "DE JuN", 133.4952, 56766.2347, 711, "2015/4/4", "遊戲", 15,
                 10, "Joeman", 132.7053, 29120.289, 1845, "2010/10/11", "人物", 13]).reshape(10, 8)

In [69]:
data

array([['1', 'TGOP 這群人', '281.0524', '60422.6121', '178', '2008/6/7',
        '娛樂', '1'],
       ['2', '阿滴英文', '199.1362', '14764.5105', '356', '2015/1/11', '教育',
        '3'],
       ['3', '蔡阿嘎', '194.5649', '42516.4224', '551', '2006/6/3', '娛樂',
        '2'],
       ['4', '阿神', '1174.1752', '66596.3634', '3539', '2009/5/11', '遊戲',
        '4'],
       ['5', '眾量級 CROWD', '143.3359', '36287.6658', '341', '2016/9/18',
        '搞笑', '8'],
       ['6', '聖結石Saint', '141.6763', '40423.8707', '458', '2013/6/10',
        '搞笑', '5'],
       ['7', '小玉', '135.5128', '35114.7569', '243', '2014/4/5', '人物',
        '7'],
       ['8', '放火 Louis', '135.3756', '17583.0297', '204', '2012/9/1',
        '搞笑', '6'],
       ['9', 'DE JuN', '133.4952', '56766.2347', '711', '2015/4/4', '遊戲',
        '15'],
       ['10', 'Joeman', '132.7053', '29120.289', '1845', '2010/10/11',
        '人物', '13']], dtype='<U21')

In [70]:
df1 = pd.DataFrame(data)

In [71]:
df1

    0          1          2           3     4           5   6   7
0   1   TGOP 這群人   281.0524  60422.6121   178    2008/6/7  娛樂   1
1   2       阿滴英文   199.1362  14764.5105   356   2015/1/11  教育   3
2   3        蔡阿嘎   194.5649  42516.4224   551    2006/6/3  娛樂   2
3   4         阿神  1174.1752  66596.3634  3539   2009/5/11  遊戲   4
4   5  眾量級 CROWD   143.3359  36287.6658   341   2016/9/18  搞笑   8
5   6   聖結石Saint   141.6763  40423.8707   458   2013/6/10  搞笑   5
6   7         小玉   135.5128  35114.7569   243    2014/4/5  人物   7
7   8   放火 Louis   135.3756  17583.0297   204    2012/9/1  搞笑   6
8   9     DE JuN   133.4952  56766.2347   711    2015/4/4  遊戲  15
9  10     Joeman   132.7053   29120.289  1845  2010/10/11  人物  13

In [79]:
df1.columns = ["本次排名","頻道名稱", "訂閱數(萬人)", "總觀看數(萬次)","影片數量","成立時間","類型","上次排名"]
df1.index = [1, 2, 3, 4, 5, 6, 7, 8,9,10]
#df1.index.name = "排名"

In [80]:
df1

   本次排名       頻道名稱    訂閱數(萬人)    總觀看數(萬次)  影片數量        成立時間  類型 上次排名
1     1   TGOP 這群人   281.0524  60422.6121   178    2008/6/7  娛樂    1
2     2       阿滴英文   199.1362  14764.5105   356   2015/1/11  教育    3
3     3        蔡阿嘎   194.5649  42516.4224   551    2006/6/3  娛樂    2
4     4         阿神  1174.1752  66596.3634  3539   2009/5/11  遊戲    4
5     5  眾量級 CROWD   143.3359  36287.6658   341   2016/9/18  搞笑    8
6     6   聖結石Saint   141.6763  40423.8707   458   2013/6/10  搞笑    5
7     7         小玉   135.5128  35114.7569   243    2014/4/5  人物    7
8     8   放火 Louis   135.3756  17583.0297   204    2012/9/1  搞笑    6
9     9     DE JuN   133.4952  56766.2347   711    2015/4/4  遊戲   15
10   10     Joeman   132.7053   29120.289  1845  2010/10/11  人物   13